@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0.5rem;
}

html,
body {
  min-height: 100dvh;
  background: var(--background);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
:root {
  --background: hsl(2.5 50% 92.5%);
  --foreground: hsl(2.5 2.5% 6.3%);
  --card: hsl(2.5 25% 92.5%);
  --card-foreground: hsl(2.5 2.5% 11.3%);
  --popover: hsl(2.5 50% 96.3%);
  --popover-foreground: hsl(2.5 97.5% 2.5%);
  --primary: hsl(2.5deg 60.52% 70.82%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(2.5 20% 75%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(40.5 20% 87.5%);
  --muted-foreground: hsl(2.5 2.5% 36.3%);
  --accent: hsl(40.5 20% 82.5%);
  --accent-foreground: hsl(2.5 2.5% 11.3%);
  --destructive: hsl(0 75% 35%);
  --destructive-foreground: hsl(2.5 2.5% 92.5%);
  --border: hsl(2.5 25% 58%);
  --input: hsl(2.5 25% 26%);
  --ring: hsl(2.5 88.7% 45.3%);
  --radius: 0.5rem;
  --sidebar-background: hsl(3, 50%, 88%);
  --sidebar-foreground: hsl(3, 3%, 6%);
  --sidebar-primary: hsl(3, 39%, 46%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(41, 20%, 78%);
  --sidebar-accent-foreground: hsl(0, 0%, 0%);
  --sidebar-border: hsl(3, 25%, 55%);
  --sidebar-ring: hsl(353, 98%, 45%);

  --animate-shine: shine 5s ease-in-out 500ms infinite;
  --animate-gradient: gradient 6s linear infinite;
  --sidebar: hsl(0 0% 98%);
}

@keyframes shine {
  0% {
    top: 0;
    transform: scaleY(5);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    top: 100%;
    transform: scaleY(10);
    opacity: 0;
  }
  100% {
    top: 100%;
    transform: scaleY(1);
    opacity: 0;
  }
}

@keyframes gradient {
  to {
    background-position: 200% center;
  }
}

.dark {
  --background: hsl(2.5 30% 6.3%);
  --foreground: hsl(2.5 2.5% 92.5%);
  --card: hsl(2.5 25% 2.5%);
  --card-foreground: hsl(2.5 2.5% 92.5%);
  --popover: hsl(2.5 30% 5%);
  --popover-foreground: hsl(2.5 2.5% 92.5%);
  --primary: hsl(2.5 39% 51.2%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(2.5 20% 12.5%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(40.5 20% 17.5%);
  --muted-foreground: hsl(2.5 2.5% 61.3%);
  --accent: hsl(40.5 20% 17.5%);
  --accent-foreground: hsl(2.5 2.5% 91.3%);
  --destructive: hsl(0 75% 35%);
  --destructive-foreground: hsl(2.5 2.5% 92.5%);
  --border: hsl(2.5 25% 26%);
  --input: hsl(2.5 25% 26%);
  --ring: hsl(2.5 88.7% 45.3%);
  --radius: 0.5rem;
  --sidebar-background: hsl(3, 30%, 8%);
  --sidebar-foreground: hsl(3, 3%, 100%);
  --sidebar-primary: hsl(3, 39%, 41%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(41, 20%, 15%);
  --sidebar-accent-foreground: hsl(0, 0%, 100%);
  --sidebar-border: hsl(3, 25%, 25%);
  --sidebar-ring: hsl(353, 74%, 54%);
  --sidebar: hsl(240 5.9% 10%);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
